# Ignore Python bytecode
__pycache__/

# Ignore IDE configurations
.vscode/

# Ignore media files
*.mp4
*.jpg
*.gif
*.stl
alpha_1.csv
beta_1.csv
gamma_1.csv

# Ignore the pickle files
*.pkl

# Ignore compiled files
*.pyc
*.pyo

# Ignore specific .egg-info directory
FlapKine.egg-info/

# Ignore temp.py and temp.ipynb
temp.py
temp.ipynb

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

requirements.txt