# Byte-compiled / optimized / compiled Python files
__pycache__/
*.pyc
*.pyo
*.pkl

# Virtual environment directories
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Installer output
*.exe
*.iss~
*.tmp
*.log
flapkine_installer_output/

# IDE / Editor configurations
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Media files
*.stl

# Specific files
alpha_1.csv
beta_1.csv
gamma_1.csv
temp.py
temp.ipynb

# Dependency files
requirements.txt

.VSCodeCounter/
