# Ignore Python bytecode
__pycache__/

# Ignore IDE configurations
.vscode/

# Ignore media files
*.mp4
*.jpg
*.png
*.gif
*.stl

# Ignore compiled files
*.pyc
*.pyo

# Ignore specific .egg-info directory
flapping_wing_mav_simulation.egg-info/